

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body{
  margin: 0;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/552784/pexels-photo-552784.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #444;
  background-color: #f4f0db;
}

header{
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: top;
  border: 0;
  margin: 0;
  color: white;
  padding: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  font-family: "Open Sans",
  "Helvetica Neue", Helvetica,
  Arial, sans-serif;
  box-sizing: border-box;
}



nav{
  margin: auto;
  font-size: 28pt;
  padding-top: 50px;
  line-height: 1.5;
  font-weight: lighter;
  position:relative;
  text-align: center;
  box-sizing: border-box;
}

.button{
  background-color: rgba(255,255,255,0.2);
  border-radius: 8px;
  border: solid rgba(255,255,255,0.7) 1px;
  color: rgba(255,255,255,1);
  font: inherit;
  transition: ease all 0.1s;
  padding: 8px 15px 8px 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}

.button:hover{
  background-color: rgba(255,255,255,0.35);
  border: solid rgba(255,255,255,0.85) 1px;
  color: rgba(255,255,255,1);
  font: inherit;
  cursor: pointer;
  transition: ease all 0.1s;
}

.active{
  background-color: rgba(221,101,67,0.4);
  border: solid rgba(221,101,67,0.4) 1px;
  cursor: default;
  pointer-events: none;
}

.active:hover{
  background-color: rgba(221,101,67,0.4);
  border: solid rgba(221,101,67,0.4) 1px;
}

h1{
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 3.5rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2{
  margin: 0;
  color: #DD6543;
  /* padding-left: 30px; */
  margin-bottom: -20px;
  text-align: left;
  font-weight: bold;
  font-size: 3.5rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3{
  /* padding-left: 30px; */
  text-align: left;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li{
  list-style-type:none;
  padding-left: 0px;
  margin-bottom: 10px;
}

#article{
  max-width: 1250px;
  width: 80vw;
  height: auto;
  background-color: #f4f0db;
  min-height: 300px;
  box-sizing: border-box;
  padding-top: 45px;
  padding-bottom: 45px;
  margin: calc(10vw);
  margin-top: 100px;
  margin-bottom: 60px;
  border-radius: 30px;
  box-sizing: border-box;
  /* position: absolute; */
  display: block;
  overflow: hidden;
}

@media screen and (min-width: 1562px){
  #article{
    margin-left: calc(50vw - 625px);
    /* margin-right: calc(50vw - 781px); */
  }
}

.innertext{

  max-width: 1100px;
  height: 100%;
  padding: 10px;
  padding-left: 40px;
  padding-bottom: 30px;
  width: calc(80vw - 150px);
  overflow-x: hidden;
  text-align: left;
  /* background-color: lightyellow; */

  margin-left: 0px;
  /* margin-left: -600px; */
}

.textbox{
  max-width: 1150px;
  height: 100%;
  width: calc(80vw - 100px);
  overflow: hidden;
  /* margin-left: 600px; */

  box-sizing: border-box;
  border-left: #003366 solid 10px;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Open Sans",
  "Helvetica Neue", Helvetica,
   Arial, sans-serif;
   float:left;
   display: inline-block;

}

#textframe{
  height: calc(100% + 500px);
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;

  width: 4500px;
  background-color: red;
  margin-left: -1500px;
}

.spacer{
  min-width: calc( 1500px -  1150px );
  width: calc(1500px - 80vw + 100px);
  height: 100px;
  float: left;
  background: transparent;
  display: inline-block;
  /* background: transparent; */
}


@media screen and (min-width: 1562px){
  #article{
    margin-left: calc(50vw - 625px);
    /* margin-right: calc(50vw - 781px); */
  }
}
@media screen and (min-width: 1562px){
  #article{
    margin-left: calc(50vw - 625px);
    /* margin-right: calc(50vw - 781px); */
  }
}

}

ul{
  margin: 0px;
  margin-top: 5px;
  padding-left: 0px;
}

li::before{
  content: '- '
}
